@containerWidth: 780px;

#aiesec-container {
	width: @containerWidth;
	.container{width:@containerWidth;}
	.navbar{margin-bottom: 5px;}
	.first{margin-left: 25px; padding-left: 5px;}
	.last{margin-left: 10px;}
	.thumbnail.main{max-height: 400px; overflow-y: scroll; margin-bottom: 5px;}
	.thumbnail{margin-bottom: 4px;}
	.hero-unit{margin-bottom: 0px;}

	.span4, .span6 {
		padding: 20px;
	}

	.span4 {
		width: 260px;
	}

	.span6 {
		width: 420px;
	}
}

#aiesec-profile {
	float: right;
	.icons {
		float: right;
		display: inline-block;
		position: relative;
		margin-right: 30px;
	}

	a:hover {
		text-decoration: none;
	}

	img {
		display: inline-block;
	}

	img.flag {
		float:right;
		margin-top: 8px;
	}

	span {
		font-size: .6em;
		color: #999;
		display: inline-block;
		white-space: nowrap;
		width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;

	}

	svg {
		display: inline-block;
		position: relative;
		float: right;
		margin-top: 8px;
		margin-right: 8px;
		width: 10px;
		height: 10px;
	}
}

#aiesec-search-tn {
	#storage {
		height: 135px;
		.icons {
			position: relative;
			float: right;
			top: -1px;
			right: 10px;
			i {
				cursor: pointer;
			}
		}
	}

	#options {
		height: 250px;
		.chzn-container .chzn-results {
			max-height: 120px;
		}
	}

	.result {
		cursor: pointer;
	}

	.result:hover {
		background-color: #eee;

	}

	.arrow {
		position: relative;
		float: right;
		right: 3px;
		top: -25px;
	}

	.caption-holder {
		h5 {
			display: inline;
		}
		small {
			color: #999;
			font-size: .8em;
		}
		width: 98%; display:block;	
	}
	.caption-half-holder {
		width: 48%; display:inline-block;		
	}
}