#madeInMexico {
  width: 100px;
  float: left;
}
#aiesec-container {
  width: 780px;
}
#aiesec-container .container {
  width: 780px;
}
#aiesec-container .navbar {
  margin-bottom: 5px;
}
#aiesec-container .first {
  margin-left: 25px;
  padding-left: 5px;
}
#aiesec-container .last {
  margin-left: 10px;
}
#aiesec-container .thumbnail.main {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 5px;
}
#aiesec-container .thumbnail {
  margin-bottom: 4px;
}
#aiesec-container .hero-unit {
  margin-bottom: 0px;
}
#aiesec-container .span4,
#aiesec-container .span6 {
  padding: 20px;
}
#aiesec-container .span4 {
  width: 260px;
}
#aiesec-container .span6 {
  width: 420px;
}
#aiesec-profile {
  float: right;
}
#aiesec-profile .icons {
  float: right;
  display: inline-block;
  position: relative;
  margin-right: 30px;
}
#aiesec-profile a:hover {
  text-decoration: none;
}
#aiesec-profile img {
  display: inline-block;
}
#aiesec-profile img.flag {
  float: right;
  margin-top: 8px;
}
#aiesec-profile span {
  font-size: .6em;
  color: #999;
  display: inline-block;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#aiesec-profile svg {
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  width: 10px;
  height: 10px;
}
#aiesec-search-tn i {
  cursor: pointer;
}
#aiesec-search-tn #storage {
  margin-top: 30px;
  height: 135px;
}
#aiesec-search-tn #storage .icons {
  position: relative;
  float: right;
  top: -1px;
  right: 10px;
}
#aiesec-search-tn #storage .icons i {
  cursor: pointer;
}
#aiesec-search-tn #options {
  height: 250px;
}
#aiesec-search-tn #options .chzn-container .chzn-results {
  max-height: 120px;
}
#aiesec-search-tn #results {
  max-height: 425px;
}
#aiesec-search-tn .tnSummary {
  margin-top: 10px;
  font-size: .8em;
}
#aiesec-search-tn .caption-title {
  position: absolute;
  top: 53px;
}
#aiesec-search-tn .caption-title-bottom {
  position: absolute;
  top: 343px;
}
#aiesec-search-tn .result {
  cursor: pointer;
}
#aiesec-search-tn .result:hover {
  background-color: #eee;
}
#aiesec-search-tn .arrow {
  position: relative;
  float: right;
  right: 3px;
  top: -25px;
}
#aiesec-search-tn .caption-holder {
  width: 98%;
  display: block;
}
#aiesec-search-tn .caption-holder h5 {
  display: inline;
}
#aiesec-search-tn .caption-holder small {
  color: #999;
  font-size: .8em;
}
#aiesec-search-tn .caption-half-holder {
  width: 48%;
  display: inline-table;
}
