@containerWidth: 780px;

#aiesec-container {
	width: @containerWidth;
	.container{width:@containerWidth;}
	.navbar{margin-bottom: 5px;}
	.first{margin-left: 25px;}
	.last{margin-left: 10px;}
	.thumbnail.main{height: 400px; overflow-y: scroll; margin-bottom: 5px;}
	.thumbnail{margin-bottom: 4px;}
	.hero-unit{margin-bottom: 0px;}
}

@leftWidth: 255px;
@rightWidth: 506px;

#tnSearchTool {
	.span4 {
		width: @leftWidth;
		.thumbnail{
			width: @leftWidth;
			overflow-y: scroll; 		
		}	
	}
	.span6 {
		width: @rightWidth;
	}
}